# 4. 데이터파일 읽어오기

## 4-1. CSV 파일
* Comma Separated Value의 약자
* 엑셀 < CSV

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1.URL을 통 CSV 파일 가져오기
d = pd.read_csv("http://bit.ly/ds-korean-idol")
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [3]:
# 2.로컬에 있는 CSV 파일 읽어오기
pd.read_csv('../data/korean-idol.csv')

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [4]:
# 3.엑셀파일 가져오기
d3 = pd.read_excel('../data/korean-idol.xlsx') #return 값이 DataFrame 임
d3

,korean-idol copy,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수
1,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260
2,지드래곤,빅뱅,YG,남자,1988-08-18,177,A,9916947
3,강다니엘,NaN,커넥트,남자,1996-12-10,180,A,8273745
4,뷔,방탄소년단,빅히트,남자,1995-12-30,178,AB,8073501
5,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928
6,정국,방탄소년단,빅히트,남자,1997-09-01,178,A,5208335
7,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792
8,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615
9,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308
10,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489
11,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661
12,차은우,아스트로,판타지오,남자,1997-03-30,183,B,3506027
13,백호,뉴이스트,플레디스,남자,1995-07-21,175,AB,3301654
14,JR,뉴이스트,플레디스,남자,1995-06-08,176,O,3274137
15,슈가,방탄소년단,빅히트,남자,1993-03-09,174,O,2925442

In [5]:
# 4.Kaggle Api로 데이터 가져오기
!pip install kaggle

Requirement already satisfied: kaggle in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (1.5.12)
Requirement already satisfied: python-dateutil in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-slugify in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (4.0.1)
Requirement already satisfied: tqdm in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (4.50.2)
Requirement already satisfied: requests in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2.24.0)
Requirement already satisfied: urllib3 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (1.25.11)
Requirement already satisfied: six>=1.10 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from requests->kaggle) (2.10)

In [6]:
!pip install --user kaggle

Requirement already satisfied: kaggle in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (1.5.12)
Requirement already satisfied: urllib3 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (1.25.11)
Requirement already satisfied: tqdm in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (4.50.2)
Requirement already satisfied: six>=1.10 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2.24.0)
Requirement already satisfied: python-slugify in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (4.0.1)
Requirement already satisfied: python-dateutil in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from python-slugify->kaggle) (1.3)

In [7]:
!pip install kaggle update

Requirement already satisfied: kaggle in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (1.5.12)
Requirement already satisfied: update in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: python-dateutil in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: requests in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2.24.0)
Requirement already satisfied: urllib3 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (1.25.11)
Requirement already satisfied: python-slugify in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (4.0.1)
Requirement already satisfied: six>=1.10 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (4.50.2)
Requirement already satisfied: style==1.1.0 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from update) (1.1.0)
Requirement already satisfied: idna<3,>=2.5 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /Users/timothychun/opt/anaconda3/lib/python3.8/site-packages (from python-slugify->kaggle) (1.3)

In [8]:
!chmod 600 /Users/timothychun/.kaggle/kaggle.json

In [9]:
#kaggle version
!kaggle --version

Kaggle API 1.5.12

In [10]:
!kaggle competitions download -c titanic

titanic.zip: Skipping, found more recently modified local copy (use --force to force download)