# 1.미국 내의 코로나 확진자 데이터

In [1]:
# !kaggle datasets download -d sudalairajkumar/covid19-in-usa

Downloading covid19-in-usa.zip to /Users/timothychun/50_수행실습
 93%|███████████████████████████████████▏  | 9.00M/9.72M [00:01<00:00, 7.56MB/s]
100%|██████████████████████████████████████| 9.72M/9.72M [00:01<00:00, 6.29MB/s]

In [3]:
# !tar -xvf covid19-in-usa.zip -C covid_data

x us_counties_covid19_daily.csv
x us_covid19_daily.csv
x us_states_covid19_daily.csv

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv('covid_data/us_counties_covid19_daily.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800437 entries, 0 to 800436
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    800437 non-null  object
 1   county  800437 non-null  object
 2   state   800437 non-null  object
 3   fips    792846 non-null  float64
 4   cases   800437 non-null  int64
 5   deaths  783704 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 36.6+ MB

In [15]:
df.describe()

                fips          cases         deaths
count  792846.000000  800437.000000  783704.000000
mean    31238.198828    1589.667358      48.815309
std     16289.192418    8385.201329     440.482993
min      1001.000000       0.000000       0.000000
25%     18179.000000      29.000000       0.000000
50%     29209.000000     175.000000       3.000000
75%     46097.000000     775.000000      17.000000
max     78030.000000  439538.000000   24346.000000